@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root{
  --a:0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.close {
  display: none;
}
body {
  background-color: black;
  color: white;
}
.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
}
.home {
  /* padding: 10px; */
}
.home ul li {
  display: flex;
  gap: 15px;
  list-style: none;
  width: 14px;
  padding-top: 14px;
  font-weight: bold;
}
.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  align-items: center;
  font-weight: bold;
  padding: 23px 14px;
  font-size: 13px;
}
.heading img {
  width: 30px;
}
.library {
  min-height: 80vh;
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  color: grey;
  gap: 13px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
.footer a {
  text-decoration: none;
  color: grey;
}
.right {
  margin: 16px 0;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}
.header > * {
  padding: 20px;
}
.spotify-playlist {
  padding: 16px;
}
.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 60vh;
}
.card {
  position: relative;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  background-color: #252525;
  transition: all .9s;
}
.card:hover{
  background-color: rgb(105,103,103);
  cursor: pointer;
  --a:1; 
  }
.card > * {
  padding-top: 3px;
}
.card img {
  width: 100%;

  object-fit: contain;
}
.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: var(--a);
  bottom:88px;
  right: 17px;
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0px 12px;
}
.signupbtn {
  background-color: rgb(34, 34, 34);
  color: rgb(156, 148, 148);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}
.signupbtn:hover {
  color: white;
  font-size: 17px;
}
.loginbtn {
  background-color: white;
  outline: none;
  border: none;
  border-radius: 21px;
  color: black;
  font-size: 16px;
  width: 79px;
  padding: 10px;
  cursor: pointer;
}
.loginbtn:hover {
  font-size: 17px;
  font-weight: bold;
}

.playbar {
  position: fixed;
  bottom: 30px;
  filter: invert(1);
  background-color: #dad5d5;
  border-radius: 10px;
  width: 70vw;
  padding: 12px;
  min-height: 40px;
}
.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.songList ul {
  padding: 0px 12px;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburgerCont {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}
.songList ul li {
  list-style: decimal;
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 12px;
  padding: 13px;
  border-radius: 5px;
}
.songList {
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}
.songList .info {
  font-size: 13px;
  width: 344px;
}
.info div {
  word-break: all;
}
.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}
.seekbar {
  border: 10px;
  height: 4px;
  width: 98%;
  background-color: black;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  margin: 12px;
}
.circle {
  height: 13px;
  width: 13px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}
.songbuttons img {
  cursor: pointer;
}
.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.songinfo {
  color: black;
  padding: 0 12px;
  width: 250px;
}

.songtime {
  color: black;
  padding: 0 12px;
  width: 125px;
}
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.volume input {
  margin-top: 4px;
  cursor: pointer;
}
.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    width: 370px;
    background-color: black;
    padding: 0;
    height: 100vh;
    position: fixed;
    top:0;
  }
  .songinfo {
    width: auto;
  }
  .songtime {
    width: auto;
  }
  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
    cursor: pointer;
  }
  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }
  .right {
    width: 100vw;
  }
  .playbar {
    width: calc(100vw - 75px);
    margin-left: 10px;
  }
  .seekbar {
    width: calc(100vw - 120px);
  }
  .hamburger {
    display: block;
  }
  .right {
    margin: 0;
  }
  /* .abovebar{
    font-size: 10px;
  } */
  .card {
    width: 55vw;
  }
  .cardContainer {
    margin: 0;
    justify-content: center;
  }
  .close {
    display: block;
  }
  .abovebar {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .cardContainer{
    max-height: 50vh;
  }
  .cardContainer{
    max-height: unset;
    overflow-y: unset;
    margin-bottom: 35vh;
  }
}
@media (max-width: 500px) {
  .card{
    width: 100%;
  }
  .spotify-playlist h1{
    padding: 4px;
  }
  .library{
    height: 85vh;
  }
  .left{
    width: 100vw;
  }
}
@media (max-width: 375px) {
  .loginbtn{
    position: relative;
    left: 5px;
    top: -5px;
  }
  .signupbtn{
    position: relative;
    top: -5px;
  }
  .buttons{
    margin-top: 10px;
  }
  .header > * {
    padding: 5px;
  }
  .nav{
    padding-top: 10px;
    padding-left: 12px;
  }
} 